@font-face {
  font-family: "Mountains of Christmas";
  src: url("https://raw.githack.com/shebtastic/xmas-coding-card/main/fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("https://github.com/shebtastic/xmas-coding-card/blob/main/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

:root {
  --width: 375px;
  --height: 667px;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

html,
body {
  /*height: 100vh;*/
  /*width: 100vw;*/
  margin: 0;
}

body {
  display: flex;
  place-content: center;
  perspective: 600px;
}

.card {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  width: calc(var(--width) + 1em);
  height: calc(var(--height) + 1em);
  transition: transform 2s;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card section {
  margin: 0.5em;
  position: absolute;
  width: var(--width);
  height: var(--height);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #a9dfbf;
}

.back {
  padding: 1em;
  transform: rotateY(180deg);
  background-color: antiquewhite;
}

.snowfall canvas {
  position: relative;
  width: var(--width) !important;
  height: var(--height) !important;
  z-index: 3;
}

h1 {
  font-size: 3em;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.postcardimage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
