@font-face {
    font-family: "Mountains of Christmas";
    src: url("/fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

:root {
    --width: 375px;
    --height: 667px;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

html, body {
    /*height: 100vh;*/
    /*width: 100vw;*/
    margin: 0;
    font-family: Caveat;
}

body {
    display: flex;
    place-content: center;
}

.card {
    background-color: whitesmoke;
    position: relative;
    display: flex;
    width: calc(var(--width) + 1em);
    height: calc(var(--height) + 1em);
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card section {
    margin: .5em;
    position: absolute;
    width: var(--width);
    height: var(--height);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background-color: #A9DFBF ;
}

.back {
    padding: 1em;
    transform: rotateY(180deg);
    background-color: antiquewhite;
}

.snowfall canvas {
    position: relative;
    width: var(--width) !important;
    height: var(--height) !important;
    z-index: 2;
}

.icon {
    height: 100px;
    width: 100px;
}

.tree {
    position: absolute;
    height: 135px;
    bottom: 0px;
    z-index: 1;
}

.tree.left {
    left: 0px;
}

.tree.center {
    transform: scale(3);
    height: 203px;
}

.tree.center .fish {
    height: 20px;
    width: 20px;
    top: 55px;
    left: 37px;
}

h1 {
    font-family: "Mountains of Christmas";
    font-size: 3em;
    color: lavenderblush;
    position: absolute;
    width: 100%;
    text-align: center;
}

.tree > * {
    position: absolute;
    color: green;
}

.tree .tree-top {
    top: 0px;
    left: 30px;
    height: 40px;
    width: 40px;
}

.tree .tree-mid {
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
}

.tree .tree-bottom {
    top: 40px;
    left: 10px;
    height: 80px;
    width: 80px;
}

.tree .trunk {
    color: saddlebrown;
    top: 65px;
    width: 40px;
    left: 30px;
}
